body {
    background-color: #39A0ED;
}

.Dashboard-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dashboard-logo {
    width: 400px;
    height: auto;
    margin-top: 50px;
}